*{
    margin: 0;
    padding: 0;
    background-color: rgb(61, 167, 167);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background-position: center;
background-size: cover;
    }
    

.nav{
margin: 20px 20px;
padding: 20px 20px;
list-style: none;
list-style-type: none;
display: block;
text-decoration-style: none ;
text-decoration: none;
}